// Fonts
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
// Colors
$bg-color: #1b1b1b;
$text-color: #ffffff;
// Adaptive
$smallest: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$desktop: 1199.98px;
